
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html{
 background: rgb(0, 0, 0);
 text-decoration-color: antiquewhite;
 font-family: 'Quicksand', sans-serif;
 font-weight:520;
 
}
p {
 color:rgba(255, 235, 205, 0.647);
 font-size: 12px; 
 margin: 4px 0; 
 display: block;
 margin-left: 8px;
}
li {
 color:white
}
h1 {
 color:white;
}
a {
 text-decoration: underline rgba(95, 158, 160, 0);
 color:white
}
h3 {
 color:rgb(255, 212, 147)
}

